@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', 'Montserrat', sans-serif;
  @apply transition duration-300;
}

body {
  background-image: linear-gradient(to bottom, #374151, #111827);
  min-height: 100vh;
}

/* :is(html, body):before {
  content: "";
  width: 100%;
  height: 100vh;
  background-image: url("../public/assets/bg.png");
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
} */

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

:is(.adjacent-post, .react-multi-carousel-list) .arrow-btn {
  transition: width 300ms ease;
  width: 50px;
}

.adjacent-post:hover .arrow-btn {
  width: 60px;
}

.react-multi-carousel-list:hover {
  width: 60px;
}

nav a {
  /* color: inherit; */
  text-decoration: none;
  font-weight: 500;
  transition: 300ms ease;
}

nav a:hover {
  @apply text-slate-400;
}

h1 {
  @apply text-white text-xl md:text-2xl;
}

nav a, span {
  @apply text-slate-100;
}

h1 a:hover {
  @apply text-white/60;
}